# Alpaca Paper Trading API (https://app.alpaca.markets/paper/dashboard/overview)
ALPACA_API_KEY=PKMRGJ4GTLGC4ETLVKXOKH33Q5
ALPACA_SECRET_KEY=9xTviFBV2dPRhSsWEKiQRgAszV5KC8xDeaACTA6L9J7q
ALPACA_PAPER_TRADE=true

# NVIDIA AI API (https://build.nvidia.com)
NVIDIA_API_KEY=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
NVIDIA_MODEL=deepseek-ai/deepseek-v4-pro-0813
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1

# Autonomous mode interval (seconds)
AUTONOMOUS_INTERVAL_SECONDS=60
